<div class="container-fluid w-50 font-monospace text-secondary overflow-hidden" style="margin-bottom:150px;">
    <hr>
    <div class="row mb-3">
        <div class="col d-flex flex-column ms-5 mt-4">
            <span>© 2025 Abhishek</span>
            <span>Built using Angular</span>
            <span>GGN, IND</span>
        </div>
        <div class="col text-center px-5">
            <p>Sitemap</p>
            <div class="row">
                <div class="col text-start d-flex flex-column">
                    <a draggable="false" routerLink="/">Home</a>
                    <a draggable="false" routerLink="/projects">Projects</a>
                    <a draggable="false" routerLink="/stack">Stack</a>
                    <a draggable="false" routerLink="/contact">Contact</a>
                </div>
                <div class="col text-end d-flex flex-column">
                    <a draggable="false" href="https://www.linkedin.com/in/abhishek-sharma-b2377a147/"
                        target="_blank">LinkedIn</a>
                    <a draggable="false" href="https://github.com/AbhishekA15" target="_blank">Github</a>
                </div>
            </div>
        </div>
    </div>
    <hr class="m-0">
    <p class="m-0 scrolling-text mt-2">
        “Websites promote you 24/7: No employee will do that.” - Paul Cookson
    </p>
    <hr class="m-0">
</div>