<div class="font-monospace text-secondary overflow-hidden" style="margin-bottom:150px;">
    <hr>
    <div class="row mb-3">
        <div class="col d-flex flex-column ms-5 mt-4">
            <span>© 2025 Abhishek</span>
            <span>Built using Angular</span>
            <span>GGN, IND</span>
        </div>
        <div class="col text-center px-5">
            <p>Sitemap</p>
            <div class="row">
                <div class="col text-start d-flex flex-column">
                    <a>Home</a>
                    <a>Projects</a>
                    <a>Stack</a>
                    <a>Contact</a>
                </div>
                <div class="col text-end d-flex flex-column">
                    <a>LinkedIn</a>
                    <a>Github</a>
                </div>
            </div>
        </div>
    </div>
    <hr class="m-0">
    <p class="m-0 scrolling-text mt-2">
        “Websites promote you 24/7: No employee will do that.” - Paul Cookson
    </p>
    <hr class="m-0">
</div>