<div class="container-fluid pt-3">
    <div class="fade-top-in">
        <p>Projects</p>
        <h2 class="pt-5 d-flex gap-3">
            <p class="text-secondary">Some of my</p> work
        </h2>
    </div>
    <div class="fade-bottom-in">
        <p class="fs-5 fw-bold mt-5">Delhi Metro Clone</p>
        <ul class="text-secondary">
            <li>Integration: Delhi Metro API's for real-time data.
            </li>
            <li>
                Intuitive Navigation: Effortlessly plan your route with user- friendly maps.
                experience.
            </li>
            <li>
                Accessibility: Catering to
                diverse
                user needs for a truly inclusive
            </li>
            <li>Smart Scheduling: Set one-time or recurring reminders with ease. Technology used is Appian.</li>
        </ul>

        <p class="fs-5 fw-bold mt-5">AES-128 Encryption & Decryption tool</p>
        <ul class="text-secondary">
            <li>
                Developed without external plug-ins. Technology used is Appian. https://cxxy.appianportals.com/aes128
            </li>
        </ul>
        <p class="fs-5 fw-bold mt-5">HumanBenchmark Automation</p>
        <ul class="text-secondary">
            <li>
                Website for conducting Aim tests, Number memory, Reaction time, Typing and Verbal memory. Technology
                used is
                Uipath. https://github.com/AbhishekA15/HumanBenchmark-Uipath
            </li>
        </ul>
        <p class="fs-5 fw-bold mt-5">NewsClips</p>
        <ul class="text-secondary">
            <li>
                News management application to handle the news approval and
                editing in the organization. Developed in Spring Boot, Angular and
                PostgreSQL following microservice architecture.
            </li>
        </ul>
        <p class="fs-5 fw-bold mt-5">Attendance and Leave Management</p>
        <ul class="text-secondary">
            <li>
                Attendance and Leave Management application to manage the HR
                tasks, leave and attendance. Developed in Spring Boot, Angular and
                PostgreSQL following microservice architecture.
            </li>
        </ul>

    </div>
</div>