.col:hover {
    box-shadow:
        5px 5px 0px rgba(0, 0, 0, 0.5),
        /* Tomato with transparency */
        10px 10px 0px rgba(0, 0, 0, 0.4),
        /* Steel Blue with transparency */
        15px 15px 0px rgba(0, 0, 0, 0.3),
        /* Lime Green with transparency */
        20px 20px 0px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

.col {
    transition: transform 0.5s ease, box-shadow 0.5s ease-in;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dark-mode.col:hover {
    box-shadow:
        5px 5px 0px rgba(255, 255, 255, 0.5),
        /* Tomato with transparency */
        10px 10px 0px rgba(255, 255, 255, 0.4),
        /* Steel Blue with transparency */
        15px 15px 0px rgba(255, 255, 255, 0.3),
        /* Lime Green with transparency */
        20px 20px 0px rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}


.tool {
    position: relative;
    cursor: pointer;
}

.tool .tooltip-text {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    /* Positioning */
    position: absolute;
    margin-top: 55px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.tool:hover .tooltip-text {
    visibility: visible;
}