<div [class]="isDarkMode?'dark-mode':'light-mode'"  *ngIf="!Shorthand" class="col rounded d-flex align-items-center px-3 py-2 gap-3">
    <img style="height: 35px; width: 35px;" draggable="false" [src]="TechImg">
    <a draggable="false" class="text-decoration-none" [href]="TechLink" target="_blank">
        <h5>{{Tech}}</h5>
        <p class="text-secondary fs-7 m-0 font-monospace fw-light">{{TechDescription}}</p>
    </a>
</div>

<a [class]="isDarkMode?'dark-mode':'light-mode'" draggable="false" [href]="TechLink" target="_blank" *ngIf="Shorthand"> <img draggable="false"
        [src]="TechImg" style="height: 50px; width: 50px;"></a>