.container {
    min-height: 100vh;
}

.dark-mode input,
.dark-mode textarea {
    background-color: transparent;
    color: white;
}

button {
    background-color: black;
    color: white;
    border-color: white;
    font-weight: bold;
}

button:hover {
    background-color: pink !important;
    color: black !important;
}

.alert {
    animation: fadeInFromTop 0.5s ease-in-out forwards,fadeInFromTop 0.5s ease-in-out 4.5s reverse;
}

.dark-mode .alert {
    color: white;
}

.word {
    font-weight: bold;
    animation: fade 2s infinite ease-in-out;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}