<div [class]="isDarkMode?'dark-mode':'light-mode' " class="container-fluid w-50 pt-3 px-5">
    <div class="fade-top-in">
        <p>Stack</p>
        <h2 class="pt-5 d-flex gap-3">
            <p class="text-secondary">What I</p> use
        </h2>
    </div>
    <div class="fade-bottom-in">
        <div class="row row-cols-2 mb-3">
            <app-stack-card Tech="Angular" TechDescription="Web Application Framework"
                TechLink="https://angular.dev/overview" TechImg="assets/angular.png"></app-stack-card>
            <app-stack-card Tech="Spring Boot" TechDescription="Java Framework" TechLink="https://spring.io/"
                TechImg="assets/springBoot.png"></app-stack-card>
            <app-stack-card Tech="Bootstrap" TechDescription="Front-end Framework" TechLink="https://getbootstrap.com/"
                TechImg="assets/bootstrap.svg"></app-stack-card>
            <app-stack-card Tech="Material UI" TechDescription="Component Library"
                TechLink="https://material.angular.io/" TechImg="assets/materialUI.png"></app-stack-card>
            <app-stack-card Tech="Git" TechDescription="Version Control System" TechLink="https://git-scm.com/"
                TechImg="assets/git.png"></app-stack-card>
            <app-stack-card Tech="MySQL" TechDescription="Database Services" TechLink="https://dev.mysql.com/doc/"
                TechImg="assets/mySQL.png"></app-stack-card>
            <app-stack-card Tech="Uipath" TechDescription="Robotics Process Automation"
                TechLink="https://www.uipath.com/" TechImg="assets/uipath.png"></app-stack-card>
            <app-stack-card Tech="Appian" TechDescription="Low-code Automation"
                TechLink="https://docs.appian.com/suite/help/24.4/" TechImg="assets/appian.png"></app-stack-card>
            <app-stack-card Tech="Node JS" TechDescription="Backend Runtime Environment"
                TechLink="https://nodejs.org/en" TechImg="assets/node.svg"></app-stack-card>
            <app-stack-card Tech="VS Code" TechDescription="Code Editor" TechLink="https://code.visualstudio.com/"
                TechImg="assets/vsCode.png"></app-stack-card>
            <app-stack-card Tech="Stripe" TechDescription="Payment Gateway" TechLink="https://stripe.com/in"
                TechImg="assets/stripe.png"></app-stack-card>
            <app-stack-card Tech="Chat GPT" TechDescription="AI" TechLink="https://openai.com/index/chatgpt/"
                TechImg="assets/chatGPT.png"></app-stack-card>
        </div>
    </div>
</div>