<div [class]="isDarkMode?'dark-mode':'light-mode' " class="container-fluid w-50 pt-3 px-5">
    <div class="fade-top-in">
        <p>Stack</p>
        <h2 class="pt-5 d-flex gap-3">
            <p class="text-secondary">What I</p> use
        </h2>
    </div>
    <div class="fade-bottom-in">
        <div class="row gap-5 mb-3">
            <div class="col rounded justify-content-center align-items-center px-3 py-2">
                <a draggable="false" class="text-decoration-none" href="https://angular.dev/overview" target="_blank">
                    <h5>Angular</h5>
                    <p class="text-secondary fs-7 m-0 font-monospace fw-light">Web Application Framework</p>
                </a>
            </div>
            <div class="col rounded justify-content-center align-items-center px-3 py-2">
                <a draggable="false" class="text-decoration-none" href="https://spring.io/" target="_blank">
                    <h5>Spring Boot</h5>
                    <p class="text-secondary fs-7 m-0 font-monospace fw-light">Java Framework</p>
                </a>
            </div>
        </div>
        <div class="row gap-5 mb-3">
            <div class="col rounded justify-content-center align-items-center px-3 py-2">
                <a draggable="false" class="text-decoration-none" href="https://getbootstrap.com/" target="_blank">
                    <h5>Bootstrap</h5>
                    <p class="text-secondary fs-7 m-0 font-monospace fw-light">Front-end Framework</p>
                </a>
            </div>
            <div class="col rounded justify-content-center align-items-center px-3 py-2">
                <a draggable="false" class="text-decoration-none" href="https://material.angular.io/" target="_blank">
                    <h5>Material UI</h5>
                    <p class="text-secondary fs-7 m-0 font-monospace fw-light">Component Library</p>
                </a>
            </div>
        </div>
        <div class="row gap-5 mb-3">
            <div class="col rounded justify-content-center align-items-center px-3 py-2">
                <a draggable="false" class="text-decoration-none" href="https://git-scm.com/" target="_blank">
                    <h5>Git</h5>
                    <p class="text-secondary fs-7 m-0 font-monospace fw-light">Version Control System</p>
                </a>
            </div>
            <div class="col rounded justify-content-center align-items-center px-3 py-2">
                <a draggable="false" class="text-decoration-none" href="https://dev.mysql.com/doc/" target="_blank">
                    <h5>MySQL</h5>
                    <p class="text-secondary fs-7 m-0 font-monospace fw-light">Database Services</p>
                </a>
            </div>
        </div>
        <div class="row gap-5 mb-3">
            <div class="col rounded justify-content-center align-items-center px-3 py-2">
                <a draggable="false" class="text-decoration-none" href="https://www.uipath.com/" target="_blank">
                    <h5>Uipath</h5>
                    <p class="text-secondary fs-7 m-0 font-monospace fw-light">Robotics Process Automation</p>
                </a>
            </div>
            <div class="col rounded justify-content-center align-items-center px-3 py-2">
                <a draggable="false" class="text-decoration-none" href="https://docs.appian.com/suite/help/24.4/" target="_blank">
                    <h5>Appian</h5>
                    <p class="text-secondary fs-7 m-0 font-monospace fw-light">Low-code Automation</p>
                </a>
            </div>
        </div>
        <div class="row gap-5 mb-3">
            <div class="col rounded justify-content-center align-items-center px-3 py-2">
                <a draggable="false" class="text-decoration-none" href="https://nodejs.org/en" target="_blank">
                    <h5>Node JS</h5>
                    <p class="text-secondary fs-7 m-0 font-monospace fw-light">Backend Runtime Environment</p>
                </a>
            </div>
            <div class="col rounded justify-content-center align-items-center px-3 py-2">
                <a draggable="false" class="text-decoration-none" href="https://code.visualstudio.com/" target="_blank">
                    <h5>VS Code</h5>
                    <p class="text-secondary fs-7 m-0 font-monospace fw-light">Code Editor</p>
                </a>
            </div>
        </div>
        <div class="row gap-5 mb-3">
            <div class="col rounded justify-content-center align-items-center px-3 py-2">
                <a draggable="false" class="text-decoration-none" href="https://stripe.com/in" target="_blank">
                    <h5>Stripe</h5>
                    <p class="text-secondary fs-7 m-0 font-monospace fw-light">Payment Gateway</p>
                </a>
            </div>
            <div class="col rounded justify-content-center align-items-center px-3 py-2">
                <a draggable="false" class="text-decoration-none" href="https://openai.com/index/chatgpt/" target="_blank">
                    <h5>Chat GPT</h5>
                    <p class="text-secondary fs-7 m-0 font-monospace fw-light">AI</p>
                </a>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>